<footer>
  <div>
    <div style=" background-color: #607d8b; ">
      <div style="padding: 10px;">
        <img
          src="https://group.renault.com/wp-content/uploads/2021/03/nouveau_logo_renault_banner.jpg"
          alt="logo.png"
          height="80px"
          style="align-items: center; margin-left: 40px"
        />
        <br />
        <p style="text-align: center">At your Service,</p>
        <p style="text-align: center">Groomzy (EST: 2020)</p>
        <br />
        <div
          style="width:100%; display: flex; justify-content: center; margin: 10px;"
        >
          <img
            src="https://www.clipartmax.com/png/small/254-2540548_500-twitter-logo-latest-twitter-logo-icon-gif-transparent-twitter-logo-grey.png"
            alt="emial-logo"
            height="35px"
            width="35px"
            style="padding: 10px"
          />
          <img
            src="https://cdn.clipart.email/52708b58ae9321650e8ed05ea20649cd_white-instagram-logo-download-free-clip-art-with-a-transparent-_840-880.jpeg"
            alt="instagram-logo"
            height="35px"
            width="35px"
            style="padding: 10px"
          />
        </div>
      </div>

    </div>

  </div>

</footer>