<footer>
  <div>
    <div style=" background-color: #607d8b; ">
      <div style="padding: 10px;">
        <p style="text-align: center">At your Service, Groomzy (EST: 2020)</p>
        <p style="text-align: center">Groomzy (EST: 2020)</p>
        <div style="width:100%; display: flex; justify-content: center;">
          <a
            href="https://instagram.com/groomzy_"
            target="_blank"
            style="margin: 10px;"
          >
            <img
              src={{googlePlayLogoUrl}}
              alt="Google play"
              height="35px"
              width="35px"
            />
          </a>
        </div>
        <br />
        <div
          style="width:100%; display: flex; justify-content: center; margin: 10px;"
        >
          <a
            href="https://instagram.com/groomzy_"
            target="_blank"
            style="margin: 10px;"
          >
            <img
              src={{intagramLogo}}
              alt="Intagram"
              height="35px"
              width="35px"
            />
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>