<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <style>
        body: {
            color: black;
        }
    </style>
</head>
<body>
    <div style="border: 1px solid black;  width: 100%">
        <div style="padding:30px;">
            {{>header this.headerPartialContext}}
            <p>Hi, </p>
            <br>
            <p>A query from <strong>{{firstName}} {{lastName}}</strong> regarding <strong>{{subject}}</strong> has been logged, please attend to it.</p>
            <br>
            <div>
                <p>{{message}}</p>
            </div>
            <br>
            <br>
        </div>
        
        {{>footer}}
        
    </div>
</body>
</html>