<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up</title>
    <style>
        body: {
            color: black;
        }
    </style>
</head>
<body>
    <div style="border: 1px solid black;  width: 100%">
        <div style="padding:30px;">
            {{>header this.headerPartialContext}}
            <p>Hi, <Strong>{{firstName}}</Strong></p>
            <p>Thank you for signing up with Groomzy.</p>
            <p>This is to confirm that your signing up was successful.</p>
            <br>
            <p>Yours in service<br><strong>Groomzy Team</strong></p>
            <br>
            <br>
        </div>
        
        {{>footer this.footerPartialContext}}
        
    </div>
</body>
</html>